[2018-11-03 13:16] gilbsgilbs opened #1 "Pass extra query parameters to createFile"
Hi,

Currently, the `createFile` method invariably passes [`renameifexists=true` to the API](https://github.com/pCloud/pcloud-sdk-java/blob/85f477c48837ee6e903100fbf15d5d20cbbe5302/java-core/src/main/java/com/pcloud/sdk/internal/RealApiClient.java#L189). I'm in a case where I need to overwrite any existing files (and create new revisions). Unless I'm missing something, the SDK doesn't seem to allo

[2018-11-15 09:13] georgi-neykov-hub commented on #1
Hello,
We've just pushed an [update](https://github.com/pCloud/pcloud-sdk-java/commit/4f847794821cf96d6b6ccacc380b166a24bc273b) to the SDK, the `ApiClient.createFile()` has an additional parameter that allows configuring the `renameifexists` and `nopartial` API call parameters so I am closing the issue.
There also a new version pushed to Bintray, see the dependency badges in the README file.

Plea

[2018-11-15 09:13] #1 closed

[2018-11-15 09:30] gilbsgilbs commented on #1
Great @georgi-neykov-hub, thank you very much for your work.

[2018-11-24 13:58] Bassamm0 opened #2 "Upload file error in thread "main" java.lang.IncompatibleClassChangeError"
Hi I got this error when I try to upload file to Cloud

Exception in thread "main" java.lang.IncompatibleClassChangeError
	at com.pcloud.sdk.internal.IOUtils.closeQuietly(IOUtils.java:29)
	at com.pcloud.sdk.internal.RealApiClient.deserializeResponseBody(RealApiClient.java:950)
	at com.pcloud.sdk.internal.RealApiClient.getAsApiResponse(RealApiClient.java:924)
	at com.pcloud.sdk.internal.RealApiClie

[2018-11-27 08:03] georgi-neykov-hub commented on #2
Hello @Bassamm0,

Can you please give more insight on the problem:
* What version of the SDK are you using
* What platform are you running on (JVM, Android)

Thank you

[2018-11-27 08:34] georgi-neykov-hub commented on #2
Is there any chance you are getting the error while running the SDK on an pre-API19 Android device?
If the answer is yes, I suspect that the cause is the same as described in /square/okhttp/#3125, basically Android's pre-Kit Kat `Socket` does not implement `Closeable` even though it has a `close()` method and the online documentation states it inherits it.

And yet, the SDK's `closeQuietly()` expe

[2019-02-16 18:20] JoynerPerez1987 opened #3 "Problem when upload files"
When I upload a file, it is uploaded correctly but when I try to upload a second file, it never uploads and stays loaded indefinitely.

[2020-01-07 11:39] krishna444 commented on #3
I have one question: I have uploaded a file(testFile.pdf) into my pcloud space. Now I want to download the same file, I need to create RemoteFile object. Is there any way to create a RemoteFile instance with a file name?
Or
any better approach to download a file in pcloud by using the name of the file.

Thanks in advance!

Krishna

[2020-01-07 11:40] krishna444 opened #4 "Download a file in pCloud"
I have one question: I have uploaded a file(testFile.pdf) into my pCloud space. Now I want to download the same file, I need to create RemoteFile object. Is there any way to create a RemoteFile instance with a file name?
Or
any better approach to download a file in pCloud by using the name of the file.

Thanks in advance!

Krishna

[2020-01-08 14:59] georgi-neykov-hub commented on #3
Thank you for reaching out. Can you give me some more details, are you using one of the `ApiClient.createFile()` methods? Are you reusing the `ProgressListener` or creating new instances for each call? Any hint on reproduction is welcome. I can also recommend you to try using the [pCloud Networking Library](https://github.com/pCloud/pcloud-networking-java) and directly use the documented calls in

[2020-01-08 19:56] georgi-neykov-hub commented on #4
You can use one of the `ApiClient.listFolder()` methods to get a list of `RemoteFile` entries.

[2020-01-08 21:25] krishna444 commented on #4
Hi @georgi-neykov-hub,
I think AppClient.listFolder() should work.  I have to look into the list of remote files to get the file I wanted to download.

Thanks!

Regards,

Krishna

[2020-01-08 21:25] #4 closed

[2020-02-23 13:05] ahanusch opened #5 "Failing tests"
There are a few failing tests in `ApiClientIntegrationTest` which is mostly due to the way `entryExistsInFolder()` works. I guess `e.equals(entry)`really requires everything to be identical but when you copy a foler, the ID will differ (just the name remains) and even when moving something, the parentId will change.

[2020-10-08 14:24] sunday2 opened #6 "compile error"
i compiled the project and met with the following problem:

Could not find artifact pcloud-networking-java:utils-io:jar:1.2.2 in nexus (http://maven.aliyun.com/nexus/content/groups/public/)

i cannot find the jar:
 pcloud-networking-java:utils-io:jar:1.2.2

in any public repository.

[2020-10-09 07:56] georgi-neykov-hub commented on #6
@sunday2 , I am closing the issue. This project does not have a dependency on the artifacts you've mentioned, in fact it just depends on OkHttp and Gson.
* It seems you're actually using the [pcloud-networking-java](https://github.com/pCloud/pcloud-networking-java) project so please create future issues there.
* `pcloud-networking-java`'s artifacts are published through Bintray and are available i

[2020-10-09 07:56] #6 closed

[2020-10-09 09:21] sunday2 commented on #6
@georgi-neykov-hub thanks for the quick response, it is helpful for me. now i met with another issue:
java.lang.NoSuchMethodError: okio.BufferedSource.getBuffer()Lokio/Buffer;

do you have any idea?

[2020-10-09 09:51] georgi-neykov-hub commented on #6
What build system and what JVM language are you using?

I would suggest  updating the library to the latest version (2.5.0) before
everything else and create a new issue in the GitHub project if the problem
persists.

На пт, 9.10.2020 г. в 12:21 sunday2 <notifications@github.com> написа:

[2020-10-09 10:29] sunday2 commented on #6
@sunday2 thanks for the quick response, it is helpful. i am using java, it seems the isuue about version of okio. finally, i use the latest verison of okio and it works.

[2020-10-09 10:30] sunday2 commented on #6
@georgi-neykov-hub thanks for the quick response, it is helpful. i am using java, it seems the isuue about version of okio. finally, i use the latest verison of okio and it works.

[2020-11-14 17:03] sdeleuze opened #7 "Access to the crypto folder"
I am not sure it is possible to access to the crypto folder with the Java SDK.

Could you please add this capability or let me know how to do if that's already possible?

[2020-12-19 19:54] PhilippC opened #8 "Cannot sign in on Android"
Users of my app are reporting for a while now that they cannot log in with pCloud anymore (https://github.com/PhilippC/keepass2android/issues/1257)

In order to find the reason for this I
 * I created a new app on https://docs.pcloud.com/my_apps/
 * I added the redirect URI `pclsdk-w-yCeH59Ffgtm://oauth2redirect` where `yCeH59Ffgtm` is the app's client ID (as suggested on https://github.com/pCloud

[2020-12-24 08:40] lvhoang1 commented on #8
I called Pcloud and they haven't been very helpful.
Basically they are saying it's a third party app so they can't confirm anything.

[2020-12-24 09:23] PhilippC commented on #8
well this issue here is an issue with the sample app and not with KP2A.

[2020-12-24 09:27] lvhoang1 commented on #8
Sure. If you need me to do any testing or send any questions to Pcloud, let me know, since I'm a lifer me subscriber to their most expensive price plan.

[2020-12-24 16:37] GhengisKoan commented on #8
As a longtime KeePass2Android user & new pCloud lifetime subscription customer, you have my full support as well.
I just got done submitting a request to pCloud Support with a link to this. Hopefully it will help you get some traction.

[2020-12-28 11:01] PhilippC commented on #8
it might be worth mentioning that according to https://github.com/PhilippC/keepass2android/issues/1257#issuecomment-751450079 this issue might depend on the user's plan/data server location.

[2020-12-28 11:18] lvhoang1 commented on #8
Yes for example their google chrome extension does not work for EU data region.
They told me they're working on it, but it's been an issue that has been here for more than a year as far as I'm aware.

[2020-12-28 18:13] zoltanmaric commented on #8
For what it's worth - I tried logging in while connected to a VPN server in the US, it didn't make any difference. After pressing log in button, there's just an infinite spinner :worried:

[2020-12-31 15:54] lvhoang1 commented on #8
ok so, from all the threads I have read and tests I have made, I have come to the following conclusion:

Pcloud mini app button does not work for anyone.

US data region clients can use https://webdav.pcloud.com/
But EU Data region clients cannot use webdav, whether HTTP or HTTPS.

[2020-12-31 18:20] edrik commented on #8
EU data region clients can use https://ewebdav.pcloud.com/

Note the `e` prefix in the sub domain.

[2020-12-31 18:38] lvhoang1 commented on #8
Well I have tried it and it does not work for me.
Maybe because of 2FA.

[2020-12-31 18:56] edrik commented on #8
True, if you enable 2FA you can't apparently use webdav 😞

But aside from that webdav/ewebdav works.

[2020-12-31 20:36] lvhoang1 commented on #8
Sorry I have tried so many times. And this is still not working for me.

I know my password and login details and there is nothing else I can think of.

![Screenshot_20201231-213324_Keepass2Android](https://user-images.githubusercontent.com/76050328/103425059-2448a500-4bb0-11eb-9890-6020d926ecec.jpg)

[2020-12-31 21:10] edrik commented on #8
Then that looks like a valid case to contact pDrive support.

But that's actually unrelated to this issue where the officially supported OAuth method provided by this Android SDK is not working, even as a simple sample app.

[2021-01-05 22:03] georgi-neykov-hub commented on #8
@PhilippC , sorry for joining the discussion so late. There is an update to this project that will solve your current issue and will add a few missing features, most notably the support for different account locations. Please upgrade to version `1.2.0`.

@lvhoang1 , this project is not related to the `WebDAV` support of the service, so please contact pCloud's support and report your issue.

[2021-01-05 22:05] georgi-neykov-hub commented on #7
The feature is not supported currently and there haven't been any plans to add it in the near future.

[2021-01-05 22:05] #7 closed

[2021-01-05 22:06] #3 closed

[2021-01-05 22:07] #2 closed

[2021-01-05 22:15] lvhoang1 commented on #8
I agree with you, but if you read my previous comments, Pcloud has told me twice that it's up to Keepass2android's dev to fix it, not them.

[2021-01-07 08:13] georgi-neykov-hub commented on #8
@PhilippC can you provide some feedback once you are able to update your project with the new version of the library? The version would also make the multiple account locations handling easier as the user's API endpoint will be reported on successful authorization.

[2021-01-07 21:38] PhilippC commented on #8
@georgi-neykov-hub thanks a lot for the updated SDK! I updated my app to 1.2.0 and indeed the authorization new succeeds! Unfortunately, it still does not work: I get `com.pcloud.sdk.ApiError 2094: Invalid 'access_token' provided.` I suspect I need to set apiHost() when building the apiClient based on the locationId received when authenticating - is this correct or this there a built-in way for th

[2021-01-08 05:33] PhilippC commented on #8
ok, I found that AuthenticationData has an apiHost field which I am now passing to the `ApiClient.Builder` and it seems to work. Just for completeness, is there any documentation/example demonstrating if this is correct usage?

[2021-01-08 05:33] #8 closed

[2021-01-08 08:00] georgi-neykov-hub commented on #8
This is the correct usage indeed.

@PhilippC  the documentation sites for all SDKs are published in a single place, thus requiring deployment of the whole [pcloud.github.io](https://pcloud.github.io/) site. I am trying to work out a more flexible way to publish documentation updates.

There will be more updates to the SDK in the following months as there is a discussion on deprecating `ApiClient`

[2021-01-12 15:43] PhilippC commented on #8
ok, thanks for the update!

[2021-03-14 10:27] mjenny opened #10 "Request: add Activity to the SDK"
Hi

I'm in the middle of using your SDK in an Android app.
Regarding the authentication process I had a look at your example code.

Now I'm wondering if there is a reason the Android authentication specific files (located here: https://github.com/pCloud/pcloud-sdk-java/tree/master/android/src/main/java/com/pcloud/sdk) are not part of the actual compiled SDK.

[2021-03-15 09:01] georgi-neykov-hub commented on #10
Hello,

The [AuthorizationActivity](https://github.com/pCloud/pcloud-sdk-java/blob/master/android/src/main/java/com/pcloud/sdk/AuthorizationActivity.java) class and support definitions are distributed as a separate artifact as they depend on Android runtime classes (`Activity`). The `java-core` artifact can be used on any supported JVM language project.
See the [Android](https://github.com/pCloud/

[2021-03-15 09:01] #10 closed

[2021-03-15 09:57] mjenny commented on #10
Hi,

Sorry completely missed that.

[2021-03-17 18:04] SailReal opened #11 "Different file link leads to cache miss without changing the file content or metadata"
In the SDK it is mentionded, that I can provide a cache: https://pcloud.github.io/pcloud-sdk-java/com/pcloud/sdk/ApiClient.html#cache--

This works and also the request to create a file link is cached but this download link is different every time I call this method:

https://edef2.pcloud.com/cfZN4ADbkZFDk3PXZExOkZZF4xdG7Z2ZZ6zZZQgUepZ07Z47Zz7Z3ZYZe7Zu7ZX7Zn7ZjZY7Z9Zg7ZdZVRiKK7kcvCbhzj43JVfgiLxKJl

[2021-03-18 07:31] georgi-neykov-hub commented on #5
@ahanusch Thank you for reaching out. The tests have been updated.

[2021-03-18 07:31] #5 closed

[2021-03-18 09:07] georgi-neykov-hub commented on #11
@SailReal Thank you for reaching out.

The OkHttp-related options in `ApiClient.Builder` are there to allow reuse of an existing OkHttp client's instances of `Cache`, `ConnectionPool` and `Dispatcher` which are all resource-heavy. OkHttp' cache should do as you've described, cache HTTP responses, and nothing more. Generated file links are short-lived by design to avoid abuse and potential security

[2021-03-18 19:42] SailReal opened #12 "Account access grant error: Error while loading url 'https://cdn.safecharge.com/jstag/managed/...cc_complete.js'"
Using the `WebView` of the `AuthorizationActivity` I often get a `Account access grant error`. Often I need to start this  `Activity` a few times (sometimes 2, sometimes 10) in a row until this error isn't thrown anymore and the auth works as expected.

This issue can be reproduced using the `MainActivity` of the `sample-android` module too.

The complete log entry is:

[code]

<img src="https://u

[2021-03-18 20:59] mjenny opened #13 "createFile() fails if filename contains non URL encoded characters"
When uploading a file which contains non URL conform characters this results in a connection reset right after a couple of seconds:
[code]
An example would be a file with name `YYbfUTn6ViuRkXzeXXYAAu8z6DwFMrTNtPY3zpjn24RIUmzqqi4=.c9r` the `=` being the issue. Encoded (`YYbfUTn6ViuRkXzeXXYAAu8z6DwFMrTNtPY3zpjn24RIUmzqqi4%3D.c9r`) the upload works without any issues.

[2021-03-19 07:55] georgi-neykov-hub commented on #12
@SailReal there's something going on with the SDK from one of the payment providers pCloud's web application is using. I've forwarded the issue to the responsible team. I will update the issue when there's a fix.

[2021-03-19 14:52] georgi-neykov-hub commented on #13
@mjenny there is an API bug which does not escape properly the `=` symbol and ignores the form-data for the file. There's a fix from the API team which will become live after one of the deployment windows next week.

[2021-03-22 13:15] SailReal commented on #11
It is not really critical but downloading again and again the same file, especially huge ones is really bad for the bandwidth and battery of mobile devices (as well as for your servers :wink:). So yes, we'll implement something like this as we did it with other cloud providers, I was only irritated that you can specify a cache, but this does not solve one of the crucial problems regarding caching:

[2021-03-22 13:15] #11 closed

[2021-03-23 10:15] mjenny opened #15 "path is null (not present) if folder ID isn't 0 when calling listfolder / stat"
When calling either `listfolder` or `stat` according to the documentation the `metadata` should include the `path` to the file or folder:
[code]

However, the API is only returning `path` when the calling `listfolder` with `RemoteFolder.ROOT_FOLDER_ID`:
[code]

`listfolder` of non root folderid:
[code]

I already prepared exposing `path` and would have opened a PR but if this is the inteded behavi

[2021-03-23 10:24] mjenny commented on #15
Background:
We are keeping track of the path of a file or folder. However, we cannot validate if the path is still valid, e.g. when a folder is renamed outside of our app.
This is because we can still fetch the file / folder with the ID although its path has changed.

[2021-03-24 11:26] SailReal commented on #12
Seems to be fixed.

[2021-03-24 11:26] #12 closed

[2021-03-24 20:23] georgi-neykov-hub commented on #15
@mjenny the behavior is intended, using fileid/folderid is much more efficient. Paths require validation and extra operations on the backend so are generated for individual files when metadata-returning API calls are done on the assumption that the caller is working with paths.
I can consult with someone from the API team to gather their opinion on the topic and will write back.

[2021-03-25 07:16] mjenny commented on #15
@georgi-neykov-hub thank you for the clarification.

We probably need to switch to paths since we don't know when a folder / file is renamed outside of our app. Using `fileId` or `folderId` will still give us the information but since we keep track of the path and it changed remotely we would expect the file or folder still in the same place as before.

That's why I opened the PR #17 to allow the

[2021-03-26 06:33] mjenny commented on #13
It seems that this issue is resolved.

[2021-03-26 06:33] #13 closed

[2021-04-04 12:46] SailReal opened #18 "Only one API token per pCloud-application per user"
Your SDK only allows one valid API token per pCloud-application per user. The second auth is revoking the previous token with errorCode 2095.

Steps to reproduce:

1. Install an app that uses pcloud-sdk-java on two devices
2. Login device 1
3. Login device 2 (with the same pCloud-account used in device 1)
4. Try interact with pCloud on device 1

Is this limitation intended in this way?

[2021-04-07 07:58] mjenny commented on #15
Do you want to keep this issue open and consult with the API team?

[2021-04-07 09:22] mjenny opened #19 "Bintray shutting down its services - Download Links in `README.md`"
I  just realized that the download links inside the `README.md` are pointing to Bintray which is shutting down it's services by May 31st 2021:
![grafik](https://user-images.githubusercontent.com/4191545/113842799-57906680-9793-11eb-9a8a-7948cdf9d7b4.png)

Maybe you want to consider publishing the packages somewhere else or if you already do so consider adjusting the download links in `README.md`.

[2021-04-08 06:09] georgi-neykov-hub commented on #19
The Web frontend is being shutdown on 31 May. JCenter's Maven repository will be working until Feb 2022. We are in the process of migrating to Maven Central, the links in the documentation will be updated once it's done.

[2021-04-08 06:09] #19 closed

[2021-04-08 06:51] mjenny commented on #19
Thanks for the clarification.

[2021-04-13 13:31] mjenny opened #20 "Version 1.4.0 is not available through JCenter"
I realized that the newly published version `1.4.0` is not available through JCenter:
- https://mvnrepository.com/artifact/com.pcloud.sdk/java-core (latest available version: `1.3.0`)
- https://mvnrepository.com/artifact/com.pcloud.sdk/android (latest available version: `1.3.0`)
Can you please analyze why this package wasn't published although it is present in your Bintray repository?

[2021-04-16 06:54] georgi-neykov-hub commented on #20
@mjenny , the SDK artifacts are now available in Maven Central.

[2021-04-16 06:54] #20 closed

[2021-04-21 11:46] mjenny commented on #18
@georgi-neykov-hub can you give us some insight on if this is intended behavior?

[2021-04-29 19:13] SailReal commented on #18
The problem seems to be fixed :+1:

[2021-05-18 09:12] SailReal opened #21 "Error 403 when try to login using Google in pCloud"
Using the pCloud [sample-android](https://github.com/pCloud/pcloud-sdk-java/tree/master/sample-android) app, when I click on `continue with Google`, I get the following error:

<img src="https://user-images.githubusercontent.com/1786772/118623958-067b8580-b7c9-11eb-94dc-37795a04aa56.png"  height="600" /> <img src="https://user-images.githubusercontent.com/1786772/118623970-08454900-b7c9-11eb-820e-

[2021-06-15 14:28] SailReal commented on #21
@georgi-neykov-hub maybe you have some information for us in this topic?

[2021-06-16 14:29] georgi-neykov-hub commented on #21
It's most likely a restriction from Google to promote their SDK over the web-based flow for mobile apps. One solution would be to switch from WebView to Custom Tabs when displaying pCloud's OAuth page.

[2021-07-12 22:17] SailReal commented on #18
This problem happens again.

[2021-07-29 11:18] mjenny commented on #18
@georgi-neykov-hub any update on this issue?

[2021-10-07 16:48] theli opened #22 "error com.pcloud.sdk.ApiError: 2094 - Invalid 'access_token' provided"
Hi, I am integrating sdk into Android app and get access_token error when making api calls.

Using the provided sample I init authentication flow.

[code]

I log in successfully and obtain access_token from authData like this:
[code]
…and init apiClient with access token as param

[code]

Then when I make API call to list root content I get an error com.pcloud.sdk.ApiError: 2094 - Invalid 'access_

[2021-10-08 12:51] sixtsense commented on #22
Hallo,
Thanks for reaching out at us. From the looks of things you are not applying the "authData.apiHost" parameter to the apiClient builder. Looks like we have missed to add this in the documentation of the last SDK update.

[2021-11-05 22:51] dknchris commented on #18
Can we have an official update on this? This is a highly reproducible issue. There must be a method within the SDK to refresh tokens.

[2021-11-07 10:19] Fentadroid commented on #18
It seems no one cares about that but it's a really bad issue.... I hope we can get an answer from someone. That's not a limit of free accounts, I have a  monthly paid account and the issue is always reproducible.

[2021-11-09 08:57] #22 closed

[2021-11-09 09:03] theli opened #23 "access_token expires when user signs in on the second device"
Here is the case when user is logged on first device, then signs into the same account on another device. Same moment his access token on first device is revoked and I am seeing error. Why is it happening?
`    com.pcloud.sdk.ApiError: 2095 - Revoked 'access_token' provided, you need to re-authorize the application.
`

[2021-11-10 19:26] Fentadroid commented on #23
Hello, there is another open thread about this issue:

https://github.com/pCloud/pcloud-sdk-java/issues/18

This is the answer from the support team by email:

[CODE]
Hello,

Thank you for letting us know.

The developers are aware of the issue and I hope that a fix will be available soon but we can not provide an ETA.

If you have any additional questions, please don't hesitate to ask.

Regards,

[2021-11-10 20:39] theli commented on #23
Thank you, @Fentadroid. I wish I found #18 before I decided to use this sdk.

[2021-11-10 20:42] theli commented on #23
@georgi-neykov-hub

[2021-11-10 20:42] #23 closed

[2021-11-10 20:43] theli commented on #23
duplicate of #18

[2021-11-16 12:09] georgi-neykov-hub commented on #18
I have just tested the issue by doing the following:
1. Building & running the sample application from this project,
2. Logged in successfully with the same EU-based user multiple times (also tested with a US-based user).
3. Collect and verify all generated tokens being active and can be used to make API calls.

Can you provide some more details:
* Which SDK artifacts are you using and what versio

[2021-11-17 16:43] georgi-neykov-hub commented on #21
The only possible solution is to switch from a WebView-based implementation to a CustomTabs-based one. The main difficulty with custom tabs is catching the redirect and returning a result to the calling application. The change has been for some time on the backlog of the project, there's even an unpublished branch with a proof-of-concept using CustomTabs.
It seems that we should prioritize this an

[2021-11-17 22:16] SailReal commented on #21
To workaround this we're using the user selected web browser to get the token `Intent(Intent.ACTION_VIEW, ..)`.

Redirecting is only a problem if two apps are listening on the same redirect URI, then the user is asked to decide which app gets the token.

[2021-11-19 07:53] georgi-neykov-hub commented on #21
@SailReal , some good news on the issue.
We've scoped updates for the SDK which will add custom tabs support, OkHttp & Okio updates and a Kotlin coroutines extensions module. The changes will be split in two version, with the custom tabs implementation coming first, within the next 1 to 2 weeks.
Only downside will be the `minSdk` for the Android artifact going up to API15, which I hope is not an i

[2021-11-19 08:03] georgi-neykov-hub commented on #18
@dknchris, what flow are you using? (code vs token). Note that the token flow does not allow refreshing of tokens, obtaining a new token goes through the OAuth page and data from the redirect.

Can you provide some more details like SDK version, any known reproduction steps? Can you also check #22 to see if you don't have a similar problem with making calls on right API host?

[2021-11-20 11:29] dknchris commented on #18
I'm using the core module and token based authentication using AppAuth since I need the CustomTabs approach rather than WebView approach which is not supported by Google Sign in.

Code based authentication fails when using AppAuth for some reason. Tried the same with Yandex and it works fine. Just something to note.

If this SDK starts using CustomTabs like AppAuth, it would solve this issue for m

[2021-12-04 14:04] StefanRichterHuber opened #24 "A connection to https://p-lux2.pcloud.com/ was leaked."
I have written a backup tool using the pcloud-sdk java. On heavy loads with multiple threads, I got warnings about leaked connections all the time.
Can this pose a problem?

ApiClient is simply build by
[code]

[code]

[2021-12-04 18:06] StefanRichterHuber commented on #24
A did not close some InputStreams from RemoteFiles properly -> was my fault.

[2021-12-04 18:06] #24 closed

[2021-12-09 09:36] georgi-neykov-hub commented on #18
@Fentadroid , @mjenny , @SailReal there an update to the OAuth API from the backend team that's live since last night. Can you check if the issue is still reproducible?

[2021-12-09 14:02] SailReal commented on #18
@georgi-neykov-hub  I can no longer reproduce the problem but this was also the case before:

![Screenshot from 2021-12-09 15-01-53](https://user-images.githubusercontent.com/1786772/145410452-535f336f-9a61-4de7-8991-cf355fd07e2b.png)

Does the "update of the OAuth API" you mentioned include an increase in the number of tokens per user account and app on the backend side?

[2021-12-09 15:43] georgi-neykov-hub commented on #18
Multiple tokens were allowed even before the update. We weren't able to reproduce the problem locally, but found a potential race condition affecting how token expiration dates are being recorded and handled.

[2021-12-10 13:00] mjenny commented on #18
@georgi-neykov-hub I tested this as well and couldn't reproduce the issue either.

[2021-12-13 22:43] ferenc-hechler opened #25 "Feature Request: Support API file.checksumfile"
The `RemoteFile ` class has an attribute `hash` which "... can be used to determine if two files are the same ..." as stated here:
https://docs.pcloud.com/structures/metadata.html

Unfortunately it is not documented how to calculate the hash offline.
So, the hash can not be calculated for files, which are not uploaded.

There exsists an API call `file/checksumfile`, which returns a well known mess

[2021-12-16 11:41] #18 closed

[2021-12-16 11:54] georgi-neykov-hub commented on #21
@SailReal , there's a new version of the SDK (1.5.0) which has support for Custom Tabs:

* By default  Chrome(Stable/Beta/Dev) and Firefox(Stable/Beta/Nightly) will be used as a custom tabs host.
* There a new property in `AuthorizationRequest.Builder` which allows for providing a custom list of app packages to be used as hosts. It can also be used to disable custom tabs if an empty list is provid

[2021-12-18 20:15] dknchris commented on #18
I'm still able to reproduce the issue persistently.

[2022-01-16 04:12] fnishihara opened #27 "Download link is not accessible from another device"
I am uploading a file and trying to download on another device but the download link shows this message:
"This link was generated for another IP address. Try previous step again."
I am using the following code:

[code]
Is there a way to make the download file accessible (public link) for everyone?

[2022-01-16 13:34] Finni123 opened #28 "Feature Request: ApiClient.stat / ApiClient.metadata"
There is no way to properly download an Image on android, or am I missing something really obvious?

`stat` and `metadata` don't exist in the [Java API Client](https://github.com/pCloud/pcloud-sdk-java/blob/master/java-core/src/main/java/com/pcloud/sdk/ApiClient.java) and I need them for this. The java sample uses a `File` for this, but unfortunately, that doesn't work on android since the pcloud

[2022-01-24 16:44] georgi-neykov-hub commented on #27
@fnishihara, file links are designed for immediate use (from the same network used to create them) and have a very limited lifespan. PCloud's API provides means to generate a "public links"  for a given file, folder or a collection of files/folders which are long-lived and can be shared. The functionality is documented [here](https://docs.pcloud.com/methods/public_links/) but unfortunately is not

[2022-01-24 16:57] georgi-neykov-hub commented on #28
@Finni123 ,
* For obtaining the metadata of a single file by its file id you can use [`PCloudApiClient.loadFile()`](https://pcloud.github.io/pcloud-sdk-java/java-core/com.pcloud.sdk/-api-client/load-file.html).
* For getting a list of files and their metadata of folder by its folder id you can use the [`PCloudApiClient.loadFolder()`](https://pcloud.github.io/pcloud-sdk-java/java-core/com.pcloud.sd

[2022-01-31 11:47] ferenc-hechler commented on #25
PING

[2022-01-31 21:52] ferenc-hechler opened #29 "apiClient.creatfolder(folderID,foldername) only works for root folder"
I want to create a folder "/thisis" and then a subfolder "/thisis/atest"
The following sequence of commands works:

[code]

According to the createfolder API documentation using only "path" is discouraged  and "folderid" + "name" should be used instead.
So, I tried it the following way (after deleting the folders created in the previous test):

[code]

The first createfolder in the root folder is

[2022-01-31 21:56] ferenc-hechler commented on #29
Just tried it with an older folder which has id 1912674055 and the same error occurrs. So it has nothing to do with an int overflow.

[2022-01-31 23:32] ferenc-hechler opened #30 "createfile() from a datasource with unknown contentlength gets stuck"
I want to create a file from an InputStream. So, I do not know in advance, how long this stream (=content) is.
So, I created a InputStreamDataSource the following way:

[code]

The file uploaded is started using createFile():

[code]

But, the call to execute() does not return. It is stuck in HeadersReader.readLine():

[code]

For testing I patched the InputStreamDataSource and returned exactly th

[2022-02-01 00:16] ferenc-hechler commented on #29
Just had the same issue with `createFile(folderid, filename, ...)` it returned "2003 - Access Denied" for folderids different from root.
Using `createFile(path, filename, ...)` works.

[2022-02-01 07:15] georgi-neykov-hub commented on #25
@ferenc-hechler expect an library version with the `checksumfile` API added in the next couple of days. There a few other request and changes which are also underway.

[2022-02-01 07:38] georgi-neykov-hub commented on #29
@ferenc-hechler let me find a way to reproduce the issue. Are you encountering the issues with an US-based account?

[2022-02-01 08:03] georgi-neykov-hub commented on #29
It can, actually. It would be more about converting signed integer (`long`, `int`) to unsigned integers as they would be treated by the API and the parsing and conversion to chars when read from and written to json.

[2022-02-01 08:54] ferenc-hechler commented on #29
My account is in EU.

[2022-02-01 09:00] ferenc-hechler commented on #29
My account is pcloud-dev@fh.anderemails.de.
It is a free Account in EU.
How can I help you to reproduce?

[2022-02-01 09:32] georgi-neykov-hub commented on #29
@ferenc-hechler I think I've found the issue. The folder id is passed as a form-request parameter to the HTTP call to the API so it is converted to a String. I want to fiddle a bit more with large numbers and review other places with potential problems. The problematic folder with id `2239770228` is in the free account you've mentioned above? Can you make an "Invite to folder" for the same folder

[2022-02-01 10:20] ferenc-hechler commented on #29
I gave acces to "/testfolder" to you. I also tested it locally with the following code:

[code]

folder1a is created successfully.
folder1-ID is 2243075331

createFolder(2243075331, "folder1b") throw the following execption

[code]

[2022-02-01 11:58] georgi-neykov-hub commented on #29
@ferenc-hechler can you make another "Invite to folder" to `folderids_eu@qa.mobileinno.com`, the last account was on the US data center and the folder/files had altered ids.
I've just tested the same operations with a different EU-based account and folders are being created. I've already done a similar test and there no issues:

[code]
![screenshot](https://filedn.eu/lb4dLgtA36bmn4QjlbTnpSh/screen

[2022-02-01 12:04] ferenc-hechler commented on #29
invitation is out.

[2022-02-01 12:13] ferenc-hechler commented on #29
mmmhh, I have a bad feeling...
Could it be, that my credentials are read-only and the Access-Denied is correct, but I can get write access using the path instead of the id?

[2022-02-01 12:41] ferenc-hechler commented on #29
confirmed! my credentials were created read-only. I created a new app with write access, now the createfolder with folderid works.

Which means, that there is a security-breach which allows uploading files and creating directories using the path syntax.

[2022-02-01 13:12] georgi-neykov-hub commented on #29
@ferenc-hechler can you share some exact code from the SDK you are using? After looking again at some of the code you've shared, there is no `ApiClient.createFolder(String)`.

[2022-02-01 13:33] georgi-neykov-hub commented on #29
@ferenc-hechler can you share a valid email?

[2022-02-01 13:46] ferenc-hechler commented on #29
you can contact me via ferenc.hechler@gmail.com

[2022-02-02 08:42] georgi-neykov-hub commented on #30
@ferenc-hechler the `DataSource.contentLength()` will be used when building a POST request with a multipart body, it's just passed to Okhttp's request builder APIs. Can you check if the issue is still occurring with the following version of your `InputStreamDataSource`?:

[code]

[2022-02-02 11:56] ferenc-hechler commented on #30
I tried your proposal and it has the same behaviour.
The upload hangs in HeadersReader.readLine().
Adding a method contentLength(), which returns the correct number of bytes, works.

[2022-02-02 12:05] georgi-neykov-hub commented on #30
@ferenc-hechler let me sniff the HTTP calls and reproduce them with Postman/curl/... to pinpoint where the issue is occurring and I will reach back.

[2022-02-02 16:46] ferenc-hechler opened #31 "createFile() cuts text files at first line starting with "----""
I use the following code to upload a local file to pCloud:

[code]

This code works fine, as long as the text file does not contain a line starting with '----'.
For example the following text:

[code]

Uploading this file gives the following output:

[code]

and looking at the uploaded text it stops before the first line starting with  "----":

[code]

So lines starting with four "-" signs are som

[2022-02-03 10:36] georgi-neykov-hub commented on #31
@ferenc-hechler the behavior is caused by the multipart body boundary (`---`) being currently used. This will be fixed altogether with #30 with the next release, I will keep you updated.

[2022-02-04 19:55] #21 closed

[2022-02-04 19:56] #27 closed

[2022-02-08 08:13] georgi-neykov-hub commented on #30
@ferenc-hechler the behavior is due to a bug resulting in multipart body POST request without a `Content-Length` header. The bigger problem is that due to compatibility reasons the pCloud's HTTP API does not support "streaming" POST requests, nor requests with `Transfer-Encoding: chunked` headers, thus no easy and performant way to upload a file with an unknown length.
A workaround for the problem

[2022-02-08 08:22] georgi-neykov-hub commented on #31
@ferenc-hechler, the issue is fixed with version 1.7.0 of the SDK. I will keep open the issue for some time for feedback.

[2022-02-08 08:29] georgi-neykov-hub commented on #25
@ferenc-hechler, version 1.7.0 of the SDK adds methods for obtaining [cheksums](https://pcloud.github.io/pcloud-sdk-java/java-core/com.pcloud.sdk/-api-client/index.html#-436249725%2FFunctions%2F-1778586320). I will keep open the issue for some time for feedback.

[2022-02-08 21:04] ferenc-hechler commented on #31
Version 1.7.0 is not yet published in maven central, so I checked out the tag "1.7.0".
Unfortunately file upload does not work.
Perhaps I made a mistake in referencing the checked out source version 1.7.0, but here is what I get:

[code]

I will retry, if the maven build is available.

My testcase is using a file DataSource:

[code]

[2022-02-08 21:18] ferenc-hechler commented on #31
just recognized, that the exception is thrown in createFile() and not in execute(). Tried to call another api method "loadFolder(0)" to verify, that auth works and root folder could be loaded successfully without any exceptions.

[2022-02-08 21:31] ferenc-hechler commented on #31
Sorry for the noise, found the issue:

in "/pcloud-sdk-java-170/java-core/src/main/java-templates/com/pcloud/sdk/internal/Version.java" I had to replace "@version@" with "1.7.0":

[code]

Now everything works fine, and the file is transfered without cutting after lines starting with "----"   🥇

[2022-02-08 21:33] ferenc-hechler commented on #30
Just tested it, returning "-1" throws an exception. I am using now a temp file to write the stream into it and then upload the temp file.

[2022-02-08 21:44] ferenc-hechler commented on #25
Just tested from the sources tag "1.7.0" and getChecksums(id/path) works as expected.
Tested in EU and SHA1 and SHA256 is returned and MD5 is null (as expected).
Thanks for implementing this, issue and PR can be closed.  🥇

[2022-02-09 13:03] #25 closed

[2022-02-09 13:05] georgi-neykov-hub commented on #29
The issue was due to an API bug which has been recently resolved and the observed behavior via the Java SDK client should be fixed as well.

[2022-02-09 13:05] #29 closed

[2022-02-09 13:06] #30 closed

[2022-02-09 13:06] #31 closed

[2022-02-28 11:18] VoidK2 opened #32 "how to import?"
i have append "implementation 'com.pcloud.sdk:java-core:1.7.0'" in my build.gradle ,why is still not import, and i cant use that.

[2022-03-14 08:50] PhilippC opened #33 "How to list shared folders with Java SDK"
I am calling `ApiClient.listFolder` using the Java SDK. While https://my.pcloud.com/ shows a folder shared by another user, the `listFolder` call does not include this shared folder. How can I list/access this folder using the Java SDK?

[2022-03-18 17:37] georgi-neykov-hub commented on #32
All SDK artifacts are published to Maven Central, you can follow the instructions at the 'java-core' artifact's [page](https://search.maven.org/artifact/com.pcloud.sdk/java-core/1.7.0/pom).

[2022-03-18 17:37] #32 closed

[2022-03-18 17:37] #28 closed

[2022-03-22 07:49] georgi-neykov-hub commented on #33
@PhilippC , version `1.8.0` of the library is live with the necessary changes to make shared folders visible. I will keep the issue open waiting for feedback.

[2022-03-25 15:37] PhilippC opened #34 "Cannot use SDK in 1.7.0+"
I am trying to upgrade to 1.8.0 to use the solution mentioned in #33. Unfortunately, I am not able to build a simple application.

Here is what I did:
 * set up a new Android project
 * set compileSdkVersion to 31
 * add the following lines to build.gradle:
[code]
 * add `import com.pcloud.sdk.ApiClient;` to MainActivity.java
 * build the project
 * I get `error: package com.pcloud.sdk does not ex

[2022-03-28 08:07] georgi-neykov-hub commented on #34
@PhilippC there seems to be a problem with the publishing script as it is skipping some .jar files. Let see what's going wrong, I will fix the problem and publish an update in a couple of hours.

[2022-03-29 07:10] VoidK2 opened #35 "can not create file"
java.lang.IllegalArgumentException: Parameter is not formatted correctly: "@version@-2ecfb849-63e1-4039-9830-8ba8d9379116----" for: "multipart/form-data; boundary=----pCloud-SDK-@version@-2ecfb849-63e1-4039-9830-8ba8d9379116----"

when build MultipartBody

[2022-03-29 07:26] georgi-neykov-hub commented on #34
@PhilippC I've published version `1.8.1` on Maven Central which now has the missing .jar from earlier versions. I will keep the issue open for feedback.

[2022-03-29 07:42] georgi-neykov-hub commented on #35
@VoidK2 , which version of the SDK are you using? Which method from `PCloudApiClient` are you calling?

[2022-03-29 08:18] VoidK2 commented on #35
1.7 ,happed when call
RemoteFile file = client.createFile(pathID, name, DataSource.create(new byte[1])).execute();

[2022-03-29 08:29] VoidK2 commented on #35
after do following modify
`   private static final String MULTIPART_BOUNDARY = "----"+ UUID.randomUUID() + "----";
`
it works ,but still some error when `client.loadFile().execute()`, if the file not exits , it will get  a null object , but now, just throw exception.

[2022-03-29 09:33] VoidK2 commented on #35
there is a new bug ,when i upload a file , need to check whether the file exists , `client.loadFile().execute()` return exception, but file exist actually.

[2022-03-30 07:16] georgi-neykov-hub commented on #35
@VoidK2 can you update to version 1.8.1 of the SDK and let me know if the problem persists?

[2022-04-04 10:00] PhilippC commented on #34
build issue is fixed, thank you!

[2022-04-04 10:03] PhilippC commented on #33
after updating to 1.8.1 (from 1.2.0) I needed to change my code replacing the line

            Intent authIntent = AuthorizationActivity.createIntent(castedActivity, this.clientId);

with

            AuthorizationRequest req = AuthorizationRequest.create()
                    .setClientId(this.clientId)
                    .setType(AuthorizationRequest.Type.TOKEN)
                    .setForceAc

[2022-04-04 10:41] sixtsense commented on #33
@PhilippC As of version 1.5.0 of the pCloud Java SDK there have been changes to the Uri scheme required for the redirect to work. You must change the redirect Uri in your pCloud application (https://docs.pcloud.com/my_apps/) to - 'pcloud-oauth://{your.application.package}'

[2022-04-04 22:19] SailReal opened #36 "TLS certificate of vc734.pcloud.com has expired which does not allow a connection and therefore no file download"
A user of our Cryptomator app which connects to pCloud reports: When downloading a file, a network exception is thrown with the following connection log:

[code]
It looks like the TLS certificate of  https://vc734.pcloud.com isn't valid anymore.

I also reproduced it using `curl`:

[code]

[2022-04-05 05:40] overheadhunter commented on #36
Kindly brought to you by: Logging.

\*cough\* pCloud/pcloud-sdk-java#14

[2022-04-06 12:51] gogogohub commented on #36
I think this issue has been resolved.

[2022-04-06 16:09] #36 closed

[2022-04-06 16:15] SailReal commented on #36
@georgi-neykov-hub closed without any reaction?

[2022-04-11 09:29] PhilippC commented on #33
👍 that solved my issue.

Accessing shared folders is now working, thanks a lot!

[2022-04-25 13:32] collicalex commented on #7
Hi,
There is still no news from pCloud team?
I'm using there REST API to save my local files to my pCloud account, but I'm not able to access to the Crypto folder as there is no API for that.
And pCloud support team answering there are not providing any support on the API... which is not really helpfull.

[2022-04-25 13:35] collicalex opened #37 "2FA"
Hi,
Not sure where to ask, because pCloud team is not really helpfull.

How to manage 2FA when using the REST API?
When 2FA is activated, I'm not able to authenticate via the API.
But when it's disabled, I can.

Support team just answer it's normal and it will never change... It's a little bit surprising..

[2022-05-08 17:20] mrGrochowski commented on #21
Problem still exist

[2022-07-27 07:28] fgroupindonesia opened #38 "From where should I start?"
I just checked out the documentation officially from pCloud website :

https://docs.pcloud.com/sdks/java.html

But unfortunately I confused. Then i read upon this page:

https://github.com/pCloud/pcloud-sdk-java

But the images are not shown properly some are missings.

If my purpose is making an uploading file into my pCloud account from my own desktop app. Which library should i use then?

Regar

[2022-08-16 13:14] SailReal opened #39 "Downloading files sometimes fails with HTTP status code `410`"
A user reported, when connected to WiFi, sometimes a file can not be downloaded. Looking through the log I often see something like this:

[code]

Where as some minutes later (10 in this case) it works again:

[code]

I have no idea why we get a file link in the first case but then the server returns a `410 Gone` some milliseconds later when downloading it.

[2022-09-02 15:39] SailReal commented on #39
@georgi-neykov-hub can you give us some feedback?

[2022-11-07 14:04] SailReal opened #40 "Downloading files sometimes fails with HTTP status code 404"
Pretty the same as in https://github.com/pCloud/pcloud-sdk-java/issues/39 but here the user gets a 404 after getting the download link and regardless of what kind of network they are in.

[code]

[2022-11-15 11:39] sixtsense commented on #39
Hello, and sorry for the delayed response. I took a look at the provided Exception log in this and the #40 issue. In both of them you are calling the`RealApiClient.download` method supplying it with a FileLink. Is the provided FileLink generated immediately before the `download` call ? If not and the FileLink has been generated prior to the `download` call there is a high possibility that the link

[2022-11-15 11:56] SailReal commented on #39
@sixtsense you can see in the log timestamps, the file link was generated at request time `20220816121532.927`, response time `20220816121532.989` and downloaded at request time `20220816121532.995` response time `20220816121533.265`.

So between the response time of the file link request and the request time of the download call are 6ms. Response of file link to response of download call is 267ms

[2022-11-22 09:38] panovvitalik commented on #22
I was faced the same issue. And your advice is resolved the issue.
I think you should add this information to the documentation. It;s very! important

[2022-11-23 03:20] LearningAsIGo71 commented on #39
Is this going to be resolved? It is affecting my use of pCloud.

[2022-11-23 03:23] LearningAsIGo71 commented on #40
Is this getting attention? It is affecting my use of pCloud.